@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Appid: @ViewBag.AppId</p>
    <p>ContentRootPath: @ViewBag.ContentRootPath</p>
    <p>WebRootPath: @ViewBag.WebRootPath</p>
    <p>BaseDirectory: @ViewBag.BaseDirectory</p>
</div>
